[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

beautifulsoup4 = "==4.7.1"
peewee = "==3.8.2"
requests = "==2.21.0"


[dev-packages]

coverage = "==4.5.2"
flake8 = "==3.7.5"
pyjokes = "==0.5.0"
pytest = "==4.3.0"
pytest-cov = "==2.6.1"
pytest-flake8 = "==1.0.4"
