[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

beautifulsoup4 = "==4.8.0"
peewee = "==3.9.6"
requests = "==2.22.0"


[dev-packages]

coverage = "==4.5.3"
flake8 = "==3.7.7"
pyjokes = "==0.5.0"
pytest = "==5.0.0"
pytest-cov = "==2.7.1"
pytest-flake8 = "==1.0.4"
