[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

beautifulsoup4 = "==4.6.0"
peewee = "==3.2.5"
requests = "==2.18.4"


[dev-packages]

coverage = "==4.5.1"
flake8 = "==3.5.0"
pyjokes = "==0.5.0"
pytest = "==3.5.1"
pytest-cov = "==2.5.1"
pytest-flake8 = "==1.0.0"
